#qita {
  padding: 10px;
  font-size: 13px;
}
#qita #zuobiao {
  position: fixed;
  left: 80px;
  top: 55px;
  text-align: center;
  margin: 10px;
  border-bottom: 1px solid rgba(197, 190, 190, 0.393);
  color: rgba(104, 88, 88, 0.676);
}
#qita #carInfo,
#qita #findInfo {
  font-family: '微软雅黑', 'sans-serif';
}
#qita #carInfo .iconfont.icon-xiangshangzhanhang,
#qita #findInfo .iconfont.icon-xiangshangzhanhang {
  position: fixed;
  top: 65px;
  margin: 0 auto;
  margin-left: -50px;
  font-size: 20px;
  z-index: 999;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 12px 5px -10px rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 12px 5px -10px rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}
#qita #carInfo .iconfont.icon-xiangxiazhanhang,
#qita #findInfo .iconfont.icon-xiangxiazhanhang {
  position: fixed;
  top: 95px;
  margin: 0 auto;
  margin-left: -50px;
  font-size: 20px;
  z-index: 999;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 12px 5px -10px rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 12px 5px -10px rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}
#qita #carInfo .nav li,
#qita #findInfo .nav li {
  font-weight: 700 !important;
}
#qita #carContent {
  margin: 5px;
  width: 100vh;
}
#qita #carContent #home,
#qita #carContent #profile,
#qita #carContent #messages {
  padding-top: 9px;
}
#qita #carContent #home input,
#qita #carContent #profile input,
#qita #carContent #messages input {
  margin-bottom: 12px;
  display: inline;
  width: 210px;
}
#qita #carContent #home #searchCarBtn,
#qita #carContent #profile #searchCarBtn,
#qita #carContent #messages #searchCarBtn,
#qita #carContent #home #searchBusBtn,
#qita #carContent #profile #searchBusBtn,
#qita #carContent #messages #searchBusBtn,
#qita #carContent #home #searchFootBtn,
#qita #carContent #profile #searchFootBtn,
#qita #carContent #messages #searchFootBtn {
  margin-left: 11px;
  width: 192px;
}
#qita #carContent #home .searchBox,
#qita #carContent #profile .searchBox,
#qita #carContent #messages .searchBox {
  overflow: auto;
  margin-top: 17px;
  width: 252px;
}
#qita #carContent #home .searchBox .resultTitle,
#qita #carContent #profile .searchBox .resultTitle,
#qita #carContent #messages .searchBox .resultTitle {
  text-align: center;
  margin: 0 auto ;
  padding: 5px 0;
  line-height: 30px;
  background-color: white;
}
#qita #carContent #home .searchBox2,
#qita #carContent #profile .searchBox2,
#qita #carContent #messages .searchBox2 {
  overflow: auto;
  margin-top: 17px;
  width: 252px;
}
#qita #carContent #home .searchBox2 #gaodeCar,
#qita #carContent #profile .searchBox2 #gaodeCar,
#qita #carContent #messages .searchBox2 #gaodeCar {
  height: 48vh ;
}
#qita #carContent #profile #driving_way {
  /* 设置滚动条的样式 */
  /* 滚动槽 */
  /* 滚动条滑块 */
}
#qita #carContent #profile #driving_way select {
  width: 252px;
}
#qita #carContent #profile #driving_way #result {
  overflow: auto;
  height: 60vh;
}
#qita #carContent #profile #driving_way #result div h1 {
  font-size: 14px;
  display: none;
}
#qita #carContent #profile #driving_way #result::-webkit-scrollbar {
  width: 0 !important;
}
#qita #carContent #profile #driving_way #result::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
}
#qita #carContent #profile #driving_way #result::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
  background-color: #555;
}
#qita #carContent #profile #driving_way #result::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #333;
  /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
}
#qita #carContent #messages {
  /* 设置滚动条的样式 */
  /* 滚动槽 */
  /* 滚动条滑块 */
}
#qita #carContent #messages #resultFoot {
  overflow: auto;
  height: 70vh;
}
#qita #carContent #messages #resultFoot div h1 {
  font-size: 14px;
  display: none;
}
#qita #carContent #messages #resultFoot::-webkit-scrollbar {
  width: 0 !important;
}
#qita #carContent #messages #resultFoot::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
}
#qita #carContent #messages #resultFoot::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
  background-color: #555;
}
#qita #carContent #messages #resultFoot::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #333;
  /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
}
