// 其他
#qita {

    padding: 10px;
    font-size: 13px;

    //坐标
    #zuobiao {

        position: fixed;
        left: 80px;
        top: 55px;
        text-align: center;
        margin: 10px;
        border-bottom: 1px solid rgba(197, 190, 190, 0.393);
        color: rgba(104, 88, 88, 0.676);

    }

    #carInfo,
    #findInfo {

        font-family:'微软雅黑', 'sans-serif';
        // 置顶
        .iconfont.icon-xiangshangzhanhang {
            position: fixed;
            top: 65px;
            margin: 0 auto;
            margin-left: -50px;
            font-size: 20px;
            z-index: 999;
            //    width: 100%;
            background-color: rgb(255, 255, 255);
            border: none;
            box-shadow: 0 12px 5px -10px rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 12px 5px -10px rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            cursor: pointer;

        }

        // 底部
        .iconfont.icon-xiangxiazhanhang {

            position: fixed;
            top: 95px;
            margin: 0 auto;
            margin-left: -50px;
            font-size: 20px;
            z-index: 999;
            //    width: 100%;
            background-color: rgb(255, 255, 255);
            border: none;
            box-shadow: 0 12px 5px -10px rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 12px 5px -10px rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            cursor: pointer;
        }

        .nav li{
            font-weight: 700 !important;
        }

    }


    #carContent {
        margin: 5px;
        width: 100vh; // .tab-pane {

        #home,
        #profile,
        #messages {
            padding-top: 9px;

            input {
                margin-bottom: 12px;
                display: inline;
                width: 210px;
            }

            #searchCarBtn,
            #searchBusBtn,
            #searchFootBtn {
                margin-left: 11px;
                width: 192px;
            }

            .searchBox {
                overflow: auto;
                margin-top: 17px;
                width: 252px;
                // height: 30vh;
                // background-color: pink;
               .resultTitle{
                text-align: center;
                margin: 0 auto ;
                padding: 5px 0;
                line-height: 30px;
                background-color:white;
               }
            }

            .searchBox2 {

                overflow: auto; 
                margin-top: 17px;
                width: 252px;
                // height:50vh;
                // background-color:white;

                #gaodeCar{
                    height: 48vh ;
                }


            }

            
        }



        #profile{
            #driving_way{
                select{
                    width: 252px;
                }
                
                #result{
                    overflow: auto;
                    height:60vh;

                    div{

                        h1{
                            font-size:14px;
                            display: none;
                        }
                    }
                }


                #result::-webkit-scrollbar {
                    width: 0 !important;
                }
            
                //设置滚动条显示隐藏
                /* 设置滚动条的样式 */
                #result::-webkit-scrollbar {
                    width: 5px;
                    border-radius: 8px;
                }
            
                /* 滚动槽 */
                #result::-webkit-scrollbar-track {
                    /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
                    background-color: #555;
                }
            
                /* 滚动条滑块 */
                #result::-webkit-scrollbar-thumb {
                    border-radius: 8px;
                    background: #333;
                    /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
                }
            }

        }



        #messages{

            #resultFoot{

                overflow: auto;
                height:70vh;
                div{

                    h1{
                        font-size:14px;
                        display: none;
                    }
                }
            }

             #resultFoot::-webkit-scrollbar {
                width: 0 !important;
            }
        
            //设置滚动条显示隐藏
            /* 设置滚动条的样式 */
             #resultFoot::-webkit-scrollbar {
                width: 5px;
                border-radius: 8px;
            }
        
            /* 滚动槽 */
             #resultFoot::-webkit-scrollbar-track {
                /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
                background-color: #555;
            }
        
            /* 滚动条滑块 */
             #resultFoot::-webkit-scrollbar-thumb {
                border-radius: 8px;
                background: #333;
                /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
            }


        }


    }
}